<template name="calibration">

</template>
<template name="redMeatC">
<div>
  {{log}}
  if you eat {{youEatRedMeat}}{{this.si}} a week thats {{totMeat}} kg a year. That will produce {{meatCo2}} kg of CO2
</div>
</template>
<template name="soyC">
  <div>
    {{log}}
  if you eat {{youEatSoy}}{{this.si}} a week thats {{totSoy}} kg a year. That will produce {{soyCo2}} kg of CO2
</div>
</template>
<template name="cherriesC">
  <div>
    {{log}}
  if you eat {{youEatCherries}}{{this.si}} a week thats {{totCherries}} kg a year. That will produce {{cherriesCo2}} kg of CO2
</div>
</template>
