<template name="foodItem">
  <div class="post">
  <div class="post-content">
    <h3>How many grams of {{foodType}} do you eat week?</h3>
  </div>
  <div>
    <form>
         <input name="thisFood" id="{{foodType}}" type="text" value="" placeholder="You eat" class="form-control"/>
         <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <!-- {{entryForm}} -->
    {{#if thisisRedmeat }}
    <!-- TODO set the data context  -->

      <!-- {{> redMeatC meat=youEatRedMeat co2=this.co2perkg}} -->
      {{> redMeatC this}}

    {{else if thisisSoy }}

      {{> soyC this}}

    {{else if thisisCherries }}

      {{> cherriesC this}}
    {{/if}}
  </div>
  </div>
</template>
